<div class="form-container">
<a href="/dashboard">Back</a>
    <h1>Add Stories</h1>
    
    <form action="/stories" method="POST">
        <input type="text" name="title" placeholder="Title...">
        <input type="text" name="status" placeholder="Status..." >
        <textarea name="body" cols="30" rows="10"></textarea>
        <input type="submit" value="Add">
    </form>
</div>

