<div class="form-container">
    <h1>Registration</h1>

    <form action="/register" method="POST">
        <input  type="text" name="name" placeholder="Your name..." > 
        <input type="text" name="email" placeholder="Your email..."> 
        <input type="password" name="password" placeholder="Your password"> 
        <input type="password" name="password2" placeholder="Confirm Password"> 
        <input type="submit" value="Register">
    </form>
    
    <a href="/">
        <h5>Already have an account</h5>
    </a>
</div>